<div class="container">
  <img src="../../../assets/logos/m8bandw.png" class="img-fluid" alt="Responsive image">

  <p class="lead" style="text-align:center;margin-top:25px;margin-bottom:35px">
    All new Media8 platform due to launch in july 2018
  </p>
  <div>
  <div class="row container-fluid">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="media">
        <a href="https://soundcloud.com/user-657721013" target="_blank"><img src="https://i1.sndcdn.com/avatars-000448628856-82qw62-t500x500.jpg" class="cover"></a>
        <div class="media-body">
          <h5 class="mt-0">Awesome Humans Podcast</h5>
          <a href="https://soundcloud.com/user-657721013" target="_blank"><img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Soundcloud-icon.png" class="soundcloud"/></a>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="media">
        <a href="https://soundcloud.com/user-844332749" target="_blank"><img class="mr-3" src="https://i1.sndcdn.com/avatars-000444540657-cjtpil-t500x500.jpg" class="cover"></a>
        <div class="media-body">
          <h5 class="mt-0">The Crazy Ones Podcast</h5>
          <a href="https://soundcloud.com/user-844332749" target="_blank"><img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Soundcloud-icon.png" class="soundcloud"/></a>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="row container">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="media">
        <a href="https://soundcloud.com/user-4272798" target="_blank"><img class="mr-3" src="https://i1.sndcdn.com/avatars-000450026352-xxinmo-t500x500.jpg" class="cover"></a>
        <div class="media-body">
          <h5 class="mt-0">The Third Beer Podcast</h5>
          <a href="https://soundcloud.com/user-4272798" target="_blank"><img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Soundcloud-icon.png" class="soundcloud"/></a>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="media">
        <a><img class="mr-3" src="../../../assets/max.png" class="cover"></a>
        <div class="media-body">
          <h5 class="mt-0">Maxi and Me Podcast</h5>
          <a><img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Soundcloud-icon.png" class="soundcloud"/></a>
        </div>
      </div>
    </div>
  </div>

</div>
